/*
 * Globals
 */

 #map{
      height: 100%;
    }

/*Fixar menu*/
/* Links */
a,
a:focus{
  color: #000;
}
a:hover{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.64);
}
.nav-link{
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .6);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}
.nav-link:hover{
  color: rgba(255, 255, 255);
  border-bottom-color: rgba(255, 255, 255, .25);
}
.nav-link:focus{
  color: rgba(255, 255, 255);
  border-bottom-color: rgba(255, 255, 255);
}
hr{
  background: #ccc; 
  height:2px;
}
/*p{
  font-family: 'Playfair Display', serif;
}*/

/*The Events Calendar*/
.tribe-events-gmap{
  color:#1b379c;
}
.tribe-events-gmap:hover,.tribe-events-gmap:focus{
  color:#1b379c8c;
}
..tribe-events-schedule{
  background: none !important;
  border: none !important;
  margin: none !important;
  padding: none !important;
}
/*.tribe_events{
  color:#000;
}
.tribe-event-date-start{
  color: #000;
}*/
/*
 * Base structure
 */

html,
body {
  height: 100%;
  background: #ffffff;
  color:#000;
}

/*.nav-icon-toggle{
  background: #fff;box-shadow: -1px 0px 8px 5px #1342f1;
}*/

.menu-institucional{
  display: flex;
  justify-content: center;
  font-family: 'Sintony', sans-serif;
  font-size: 12px;
}

.menu-institucional nav div ul li{
  align-self: space-around;
}
#menu-menu-institucional li a{color: #00549d;}
#menu-menu-institucional li a:hover{color: #00549d73;}
#menu-menu-institucional li a:focus{color: #00549d73;}
/*Menu institucional aparece para dispositivos larges*/
@media (max-width: 992px) {
  .menu-institucional{
    display: none;
  }
  .main-container{
    flex-direction: column-reverse;
  }
  #map{
      height: 400px !important;
    }
}

.menu-principal{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.menu-principal-faixa{background: #00549d;}

.dropdown-menu{
  background: #00549d;
}
.dropdown-menu a{
  color:#fff;
}
.dropdown-menu a:focus{
  background: #00549d;
}

.main-container{
  display: flex;  
  align-items: center;
}
.main-img{
  display: flex;
  justify-content: center;
}
.main-img img{
  height: 430px;

}

.text-home{
  font-family: 'Sintony', sans-serif;
  font-size: 18px;
}

/*
 * Footer
 */
.mastfoot {
  background: #232323f5;
  margin-bottom: 5px;
  padding: 10px;
  color: rgba(255, 255, 255, 0.64);  
}
.mastfoot div a i{
  margin-right: 10px;
}
.mastfoot div a{color:#ffff;}
.mastfoot div a:hover{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.64);
}
.mastfoot div .icon:hover{
  color: rgba(255, 255, 255, 0.64);
}

/*Lideres*/
.lideres-container{
  background: #232323f5;
  padding: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.lideres-row{
  display: flex;
  justify-content: center;
}
.lideres-profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.lideres-sub-profile{

}
.lideres-sub-row{
  display: flex;
  flex-direction: column;
}
.lideres-sub-row div img{align-self: center !important;}
.lideres-img img{
  max-width: 140px !important;
  max-height: 140px !important;
  border-radius: 50%!important;
  vertical-align: middle;
  border: 3px solid #fff;
}
.lideres-img .textwidget{
  text-align: center;
}

.card-departamento{
  background: #7979796e;
  padding: 10px;
  margin-bottom: 10px;
}

.generate-template-container-fluid{
  margin-top: 5px;
  background: #2b2b2b;
}
.generate-template-container-fluid h3{
  color: #fff;
  padding: 10px;
}
.generate-template-container{
  background: #232323f5;
  padding: 10px;
  margin-bottom: 5px;  
  border-radius: 10px;
}
.generate-template-img{
  margin-top: 5px;
}
.card-posts-text p{
  text-align: justify;
  color: #000;
}
.card-posts-text h5{
 color: #000;
}
.card-post-text{
  text-align: justify;
  color: #000;
}
.card-post-text-a a{
  color: #000;
}
.card-post-text-a a:hover{
  color: #00000073;
}

.content-posts{
  margin-top: 5px;
  border-radius: 10px;
}
.content-posts a{
  color:#7175ff;
}
.content-posts a:hover{
  color:#7175ffa8;
}
.post-continue{
  color: #fff !important;
}
.post-container{
  background: #fff; border-radius: 10px;
}
.card-image{
  margin-bottom: 10px;
}

.card-image a:hover{
  color:#0006;
}

.card-image-fotos, .card-image-fotos p, .card-image-fotos a{
  color:#000;
}
.card-image-fotos a:hover{
  color:#0000009c;
}


.card-image-height{
  max-height: 150px;
}

.card-image-height{
  min-height: 100%;
}

.card-video{
  margin-bottom: 10px;
  color:#000 !important;
}

.card-video a{
  color:#7175ff;
}

.card-video a:hover{
  color:#7175ffa8;
}

.single-posts{
  margin: 5px 0
}

.single-posts a{
  color:#7175ff;
}
.single-posts a:hover{
  color:#7175ffa8;
}

.pagination .screen-reader-text{
  display: none !important;
}

.pagination{
  background: #fff !important;
  margin-bottom: 5px;
  padding: 5px;
  color:#000;
}

.pagination a{  
  color:#000;
  padding: 0 5px;
  border: 2px solid #000;
  border-radius: 3px;
  font-weight: bold;
}
.pagination a:hover{  
  color:#0000006e;
}

.pagination span{
  padding: 0 5px;
  border: 2px solid #000;
  border-radius: 3px;
  color: #0037ff;
  font-weight: bold;
}

.comment-respond{
}

.social-icons ul{
  padding: 0; margin: 0;
}

.social-icons ul li{
  list-style: none;
  display: inline;
  margin: 0 5px 0;
}

.img-content-fotos{
  max-height: 150px;
  max-width: 150px;
  min-width: 150px;
  min-height: 150px;
}

.img-content-container{
  display: flex;
  align-items: center;
  margin:10px 0;
  border: 1px solid #9c9a9aa1;
  box-shadow: 1px 1px 11px 1px;
  border-radius: 10px;
  padding: 5px;
}
.img-content-container a{
  color: #7175ff;
  font-weight: bold;
  font-family: 'Sintony', sans-serif;
}

.author-title{
  
}

.contato-container{
  margin: 10px 0;
}
.map{
  background: #fff;
  padding: 10px;
  color: #000 !important;
}

.contato-form{
  color: #000;
}

/*Style bolha do google maps*/
/* The popup bubble styling. */
.popup-bubble {
  /* Position the bubble centred-above its parent. */
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  /* Style the bubble. */
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  font-family: sans-serif;
  overflow-y: auto;
  max-height: 100px;
  box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
}
/* The parent of the bubble. A zero-height div at the top of the tip. */
.popup-bubble-anchor {
  /* Position the div a fixed distance above the tip. */
  position: absolute;
  width: 100%;
  bottom: /* TIP_HEIGHT= */ 8px;
  left: 0;
}
/* This element draws the tip. */
.popup-bubble-anchor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* Center the tip horizontally. */
  transform: translate(-50%, 0);
  /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
  width: 0;
  height: 0;
  /* The tip is 8px high, and 12px wide. */
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: /* TIP_HEIGHT= */ 8px solid white;
}
/* JavaScript will position this div at the bottom of the popup tip. */
.popup-container {
  cursor: auto;
  height: 0;
  position: absolute;
  /* The max width of the info window. */
  width: 500px;
}